.login-container {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    background-size: cover;
}

.wrapper {
    margin: 0;
    padding: 1.875rem;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%; 
    max-width: 30rem; 
    background: black; 
    border-radius: 8px;
    border: 1px solid grey; 
    backdrop-filter: blur(0.5rem);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}


.logForm {
    display: flex;
    flex-direction: column;
}

.welcome {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

.input {
    position: relative;
    border-bottom: 2px solid whitesmoke;
    margin: 15px 0;
}

.input label {
    position: absolute;
    color: whitesmoke;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: 0.15s ease;
}

.input input {
    width: 100%;
    height: 2.5rem;
    color: whitesmoke;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;

}

input input:focus~label,
.input input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forgotten {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    gap: 1rem;
}

#remember {
    accent-color: whitesmoke;
}

.forgotten label {
    display: flex;
    align-items: center;
}

.forgotten label p {
    margin-left: 0.5rem;
}

.wrapper a {
    color: whitesmoke;
    text-decoration: underline;

}

.logButton {
    background: whitesmoke;
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid grey;
    border-radius: 3px;
    transition: 0.3s ease;
}

.register {
    text-align: center;
    margin-top: 30px;
    color: whitesmoke;
}
.register p {
    display: inline;
}

.register a {
    margin-left: 0.5rem; 
}

.logButton:hover {
    background-color: grey; 
  }